@use 'mixins' as *;
@use 'variables' as *;

section {
    @include BoxSize($w: clamp(20rem, -8.75rem + 40vw, 31.25rem), $h: calc(100dvh - 105px));
    @include PositionBox($ai: center, $fd: column);
    @include BoxPosition($pos: relative);
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: $color_white;
}

header {
    @include PositionBox();
    @include BoxSize($w: clamp(18.75rem, -5.208rem + 33.333vw, 28.125rem), $h: 100px);
    @include BoxPosition($pos: fixed, $tp: 100px);
    background-color: $color_white;

    >a {
        @include BoxSize($h: 60px);
        @include button_w_background($text-color: $color_white, $bg-color: $color_secondary, $radius: 0.5rem, $gap: 1rem);
        text-decoration: none;
    }
}

main {
    @include BoxSize($w: clamp(18.125rem, -5.833rem + 33.333vw, 27.5rem), $h: calc(100% - 200px));

    >div {
        >h2 {
            font-size: 20px;
            font-weight: normal;
            padding: 15px 35px;
            border-bottom: 1px solid $color_grey;
        }

        >.contact {
            @include PositionBox($jc: start);
            @include SpaceBox($mg: 10px 0, $pd: 15px 25px);
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                background-color: $color_grey;
            }

            &.active {
                cursor: auto;
                background-color: $color_secondary;

                >.contact-info {
                    >h3 {
                        color: $color_white;
                    }
                }
            }

            >.contact-initials {
                @include PositionBox();
                @include BoxSize($w: clamp(3rem, 1.434rem + 1.765vw, 2.625rem), $h: clamp(3rem, 1.434rem + 1.765vw, 2.625rem));
                aspect-ratio: 1/1;
                border-radius: 150px;
                margin-right: clamp(0.938rem, -1.458rem + 3.333vw, 1.875rem);
                border: solid 2px $color_background_main;
                color: white;
            }

            >.contact-info {
                overflow-x: hidden;

                >h3 {
                    font-weight: normal;
                    font-size: clamp(1rem, 0.88rem + 0.548vw, 1.25rem);
                }

                >p {
                    color: $color_highlight;
                    font-size: clamp(0.875rem, 0.815rem + 0.274vw, 1rem);
                }
            }
        }
    }

    .seperator {
        @include BoxSize($h: 75px);
    }
}

footer {
    @include PositionBox($ai: end, $jc: end);
    @include BoxPosition($pos: fixed, $bm: 120px, $rt: 12px);
    width: fit-content;

    >a {
        @include PositionBox();
        @include BoxSize($w: 56px, $h: 56px);
        text-decoration: none;
        border-radius: 150px;
        background-color: $color_secondary;

        &:hover {
            cursor: pointer;
            background-color: $color_highlight;
        }
    }
}

@media (max-width: 1080px) {
    section {
        @include BoxSize($w: 100%, $h: calc(100dvh - 200px));
        @include PositionBox($ai: start, $fd: column);
        padding: 0 24px;
    }

    header {
        @include PositionBox();
        @include BoxSize($w: 100%, $h: 8%);

        >a {
            @include BoxSize($w: clamp(18.125rem, -5.833rem + 33.333vw, 27.5rem), $h: 60px);
        }
    }

    main {
        @include BoxSize($w: 100%, $h: calc(100% - 200px));

        >div {
            >.contact {
                margin: 2% 2%;

                >.contact-initials {
                    margin-right: clamp(0.938rem, 0.386rem + 2.206vw, 1.875rem);
                    min-width: auto;
                    min-height: auto;
                }
            }
        }

    }
}

@media (max-width: 500px) {
    section {
        @include BoxSize($w: 100%, $h: calc(100dvh - 200px));
    }

    main {
        @include BoxSize();
        padding-top: 20px;

        >div {
            >.contact {
                >.contact-initials {
                    font-size: 12px;
                }
            }
        }
    }
}