:host {
    width: 100%;
}

.start-screen {
    width: 100%;
    height: 100dvh;
    padding-top: 200px;
    background-color: #f6f7f8;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    gap: 1rem;
    transition: all 100ms ease;

    overflow: auto;

    >img:first-of-type {
        position: absolute;
        animation: logo-animation var(--animTime) ease var(--animTime) forwards;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
    }

    .start-animation-bg {
        background-color: #f6f7f8;
        position: absolute;
        inset: 0;
        z-index: 5;
        animation: bg-animation var(--animTime) ease var(--animTime) forwards;
    }
}

@keyframes logo-animation {
    to {
        left: 50px;
        top: 50px;
        transform: translate(0, 0);
        width: 100px;
    }
}

@keyframes bg-animation {
    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;

    a {
        background-color: #2a3647;
        color: white;
        padding: 15px 16px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 700;
        transition: all 125ms ease;

        &:hover {
            background-color: #29ABE2;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.privacy_legal_wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    margin-bottom: 1rem;
}

.privacy-legal-links {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 42px;
    width: 100%;

    a {
        text-decoration: none;
        color: #a8a8a8;

        &:hover {
            color: #29ABE2;
        }
    }
}

@media (max-width: 750px) {
    .sign-up {
        white-space: nowrap;
    }

    .privacy-legal-links {
        position: unset;
        bottom: 0;
    }

    .start-screen {
        >img:first-of-type {
            animation: logo-animation-small var(--animTime) ease var(--animTime) forwards;
        }
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
    }

    @keyframes logo-animation-small {
        to {
            left: 20px;
            top: 20px;
            transform: translate(0, 0);
            width: 50px;
        }
    }
}