:host {
    width: 100%;
}

.start-screen {
    width: 100%;
    height: 100dvh;
    min-height: 900px;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >img:first-of-type {
        position: absolute;
        animation: logo-animation var(--animTime) ease var(--animTime) forwards;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
    }

    .start-animation-bg {
        background-color: #f6f7f8;
        position: absolute;
        inset: 0;
        z-index: 5;
        animation: bg-animation var(--animTime) ease var(--animTime) forwards;
    }
}

@keyframes logo-animation {
    to {
        left: 50px;
        top: 50px;
        transform: translate(0, 0);
        width: 100px;
    }
}

@keyframes bg-animation {
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.sign-up {
    position: absolute;
    top: 50px;
    right: 100px;
    display: flex;
    align-items: center;
    gap: 32px;

    a {
        background-color: #2a3647;
        color: white;
        padding: 15px 16px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 700;
        transition: all 125ms ease;

        &:hover {
            background-color: #29ABE2;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.privacy-legal-links {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 42px;

    a {
        text-decoration: none;
        color: #a8a8a8;

        &:hover {
            color: #29ABE2;
        }
    }
}

@media (max-width: 750px) {
    .sign-up {
        white-space: nowrap;
        top: auto;
        bottom: 100px ;
        right: 50%;
        transform: translateX(50%);  
    }

    .start-screen {

        >img:first-of-type {
            width: 50px !important;
        }
    }
}