@use './../../../styles/variables' as *;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px 25px 100px;
    background-color: $color_white;
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    >p:first-of-type {
        font-size: 20px;
    }

    >div:first-of-type {
        display: flex;
        align-items: center;
        gap: 12px
    }
}

.info {
    color: $color_grey;
    border: 2px solid $color_grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 125ms ease;

    &:hover {
        transform: scale(1.1);
    }
}

.user {
    color: $color_highlight;
    border: 3px solid $color_secondary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 125ms ease;
    font-weight: bold;
    user-select: none;

    &:hover {
        background-color: $color_highlight_hover;
    }
}

.user_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 30px;
    padding: 12px;
    background-color: $color_secondary;
    border-radius: 20px 0 20px 20px;
    
    a{
        color: $color_font_user_menu;
        cursor: pointer;
        padding: 16px;

        &:hover {
            background-color: $color_hover_user_menu;
        }
    }
}

.not_visible {
    display: none;
}