// _variables.scss
$color_main: #091931;
$color_secondary: #2A3647;
$color_highlight: #29ABE2;
$color_grey: #D1D1D1;
$color_white: #ffffff;


$color_background_main: #F0F0F0;

$color_error: #E60026;

// Add Task Component
$color_prio_urgent: #FF3D00;
$color_prio_medium: #FFA800;
$color_prio_low: #7AE229;

// Board Component
$color_board_header_main: #0038FF;
$color_board_header_secondary: #1FD7C1;
$color_board_progress: #4589FF;

$color_contact_01: #FF7A00;
$color_contact_02: #FF5EB3;
$color_contact_03: #6E52FF;
$color_contact_04: #9327FF;
$color_contact_05: #00BEE8;
$color_contact_06: #1FD7C1;
$color_contact_07: #FF745E;
$color_contact_08: #FFA35E;
$color_contact_09: #FC71FF;
$color_contact_10: #FFC701;
$color_contact_11: #0038FF;
$color_contact_12: #C3FF2B;
$color_contact_13: #FFE62B;
$color_contact_14: #FF4646;
$color_contact_15: #FFBB2B;