:host {
    padding: 32px;
}

.task-process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    height: 100%;

    >div {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        >div:first-of-type {
            display: flex;
            justify-content: space-between;

            >p {
                color: #42526E;
                font-size: 20px;
                font-weight: 700;
            }

            >button {
                border: 3px solid #2A3647;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                aspect-ratio: 1/1;
                cursor: pointer;

                img {
                    width: 10px;
                }
            }
        }
    }
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  padding: 4px 4px;
}

.no-task {
  flex: 1;
  min-width: 270px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
  background-color: #e7e7e7;
  border-radius: 12px;
  border: 3px dotted #9b9b9b;
}

.cdk-drag-preview {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 1080px) {
    
  .task-process {
    flex-direction: column;
  }

  .task-list {
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
  }
}