@use 'mixins' as *;
@use 'variables' as *;

:host {
    @include PositionBox($d: flex, $jc: flex-start, $ai: stretch, $fd: row);
    background-color: $color_background_main;

    >app-overview-contact {
        width: clamp(20rem, 15.221rem + 19.118vw, 28.125rem);
    }

    >app-single-contact {
        width: calc(100% - clamp(20rem, 15.221rem + 19.118vw, 28.125rem));
        height: calc(100vh - 105px);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
       
           
    }

    >app-add-contact {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
}

@media (max-width: 1080px) {
    :host {

        &.display-contacts-list {
            >app-overview-contact {
                width: 100%;
            }

            >app-single-contact {
                display: none;
            }
        }

        &.display-single-contact {
            >app-overview-contact {
                display: none;
            }

            >app-single-contact {     
                width: 100%;
            }
        }

    }
}