@use 'mixins' as *;
@use 'variables' as *;

:host {
    @include PositionBox($d: flex, $jc: start, $ai: center, $fd: row);
    gap: 1rem;
    background-color: $color_background_main;

    >app-overview-contact {
        width: 400px;
        border: 1px solid red;
    }

    >app-single-contact {
        width: calc(100% - 400px);
        border: 1px solid rgb(60, 43, 171);
    }

    >app-add-contact {
        display: none;
    }
}