.card {
    padding: 20px 16px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 270px;
}

.category {
    padding: 8px 16px;
    
    border-radius: 8px;
    color: white;
    margin-bottom: 12px;
    width: fit-content;

    &.user-story {
        background-color: #0038ff;
    }
    
    &.technical-task {
        background-color: #1fd7c1;
    }
}



.title {
    font-weight: bold;
    color: #2A3647;
}

.description {
    color: #A8A8A8;
}

.subtask {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 12px 0;


    >p:first-of-type {
        border-radius: 12px;
        flex-grow: 1;
        height: 12px;
        background-color: #f4f4f4;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 12px;
            width: var(--progress-width);
            border-radius: 12px;
            background-color: #4589ff;
        }
    }
}

.assigned-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div:first-of-type {
        display: flex;
        overflow-x: hidden;

        p{
            min-width: 45px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 2px solid white;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            &:not(:first-child) {
                transform: translateX(var(--translateX));
            }
        }
    }
}

.and-ohters {
    color: #A8A8A8;
    font-size: 14px;
    transform: translateX(-18px);
    display: flex;
    align-items: flex-end;
}