<section class="add_content_wrapper">
    <div class="left_wrapper">
        <p class="close_button_mobile" (click)="close.emit()">
            <img src="assets/icons/close_white.svg">
        </p>
        <img src="assets/icons/logo/logo_white.svg" alt="">
        <div class="text_wrapper_left">
            <h2>{{ editMode ? 'Edit Contact' : 'Add Contact' }}</h2>
            <h3>Tasks are better with a team!</h3>
            <div class="seperator_left"></div>
        </div>

        @if (editMode) {
        <div class="person_icon_mobile d_none" [style.background-color]="contact?.initial_avatar_color">
            <p>{{ currentContactInitials }}</p>
        </div>
        } @else {
        <div class="person_icon_mobile d_none">
            <img src="assets/icons/person.svg" alt="">
        </div>
        }
    </div>
    <div class="right_wrapper">
        <p (click)="close.emit()">
            <img src="assets/icons/close.svg">
        </p>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="form_wrapper">
            @if (editMode) {
            <div class="person_icon d_none" [style.background-color]="contact?.initial_avatar_color">
                <p>{{ currentContactInitials }}</p>
            </div>
            } @else {
            <div class="person_icon d_none">
                <img src="assets/icons/person.svg" alt="">
            </div>
            }

            <div class="form_container">
                <div class="form">
                    <div class="button_w_border">
                        <input class="input_no_error" name="name" type="text" [(ngModel)]="htmlinput.name" id="name"
                            required #nameInput="ngModel" pattern="^\s*\S+\s+\S+.*$"
                            placeholder="Full Name">
                        <img src="assets/icons/person.svg">
                    </div>

                    <div class="error">
                        @if (nameInput.invalid && (nameInput.errors?.['pattern'] || nameInput.dirty || nameInput.touched || contactForm.submitted)) {
                            <span>
                                @if (nameInput.errors?.['required']) {
                                    Enter Name
                                }@else if (nameInput.errors?.['pattern']) {
                                    Enter first-/ last Name
                                }
                            </span>
                        }
                    </div>
                    
                    <div class="button_w_border">
                        <input class="input_no_error" name="email" type="email" [(ngModel)]="htmlinput.email" id="email"
                            required #emailInput="ngModel" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            placeholder="Email">
                        <img src="assets/icons/mail.svg">
                    </div>

                    
                    <div class="error">
                        @if (emailInput.invalid && ( emailInput.errors?.['pattern'] || emailInput.dirty || emailInput.touched || contactForm.submitted)) {
                            <span>
                                @if (emailInput.errors?.['required']){
                                    Enter Email
                                }@else if(emailInput.errors?.['pattern']){
                                    Enter valid Email
                                }
                            </span>
                        }
                    </div>
                    

                    <div class="button_w_border">
                        <input class="input_no_error" name="telNo" type="tel" [(ngModel)]="htmlinput.phone" id="telNo"
                            required #phoneInput="ngModel" pattern="^\+?[0-9 ]{7,}$" placeholder="Phone">
                        <img src="assets/icons/call.svg">

                    </div>

                   
                    <div class="error">
                        @if (phoneInput.invalid && ( phoneInput.errors?.['pattern'] || phoneInput.dirty || phoneInput.touched || contactForm.submitted)) {
                            <span>
                                @if (phoneInput.errors?.['required']) {
                                    Enter Phone
                                }@else if (phoneInput.errors?.['pattern']) {
                                    Enter valid number (at least 7 digits)
                                }
                            </span>
                        }
                    </div>
                    

                </div>

                <div class="button_wrapper">
                    <a (click)="onClose()" class="button_w_border cancel_button">
                        <p>{{ editMode ? 'Delete' : 'Cancel' }}</p><img src="assets/icons/close.svg">
                    </a>
                    <div class="button_w_background">
                        <input type="submit" value="{{ editMode ? 'Save' : 'Create Contact' }}">
                        <img src="assets/icons/check.svg">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>