<section class="add_content_wrapper">
    <div class="left_wrapper">
        <p class="close_button_mobile" (click)="close.emit()">X</p>
        <img src="assets/icons/logo/logo_white.png" alt="">
        <div class="text_wrapper_left">
            <h2>{{ editMode ? 'Edit Contact' : 'Add Contact' }}</h2>
            <h3>Tasks are better with a team!</h3>
            <div class="seperator_left"></div>
        </div>

        @if (editMode) {
        <div class="person_icon_mobile d_none" [style.background-color]="contact?.initial_avatar_color">
            <p>{{ currentContactInitials }}</p>
        </div>
        } @else {
        <div class="person_icon_mobile d_none">
            <img src="assets/icons/person.png" alt="">
        </div>
        }
    </div>
    <div class="right_wrapper">
        <p (click)="close.emit()">X</p>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="form_wrapper">
            @if (editMode) {
            <div class="person_icon d_none" [style.background-color]="contact?.initial_avatar_color">
                <p>{{ currentContactInitials }}</p>
            </div>
            } @else {
            <div class="person_icon d_none">
                <img src="assets/icons/person.png" alt="">
            </div>
            }

            <div class="form_container">
                <div class="form">
                    <div class="button_w_border">
                        <input class="input_no_error" name="name" type="text" [(ngModel)]="htmlinput.name" id="name"
                            required #nameInput="ngModel" pattern="^\s*\S+\s+\S+.*$"
                            [class.input_error]="nameInput.invalid && (nameInput.dirty || nameInput.touched || contactForm.submitted)"
                            placeholder="full name">
                        <img src="assets/icons/person.png">
                    </div>

                    @if (nameInput.invalid && (nameInput.dirty || nameInput.touched || contactForm.submitted)) {
                    <div class="error">
                        @if (nameInput.errors?.['required']) {
                        <small>enter Name</small>
                        }
                        @if (nameInput.errors?.['pattern']) {
                        <small>enter first-/ last name</small>
                        }
                    </div>
                    }

                    <div class="button_w_border">
                        <input class="input_no_error" name="email" type="email" [(ngModel)]="htmlinput.email" id="email"
                            required email #emailInput="ngModel"
                            [class.input_error]="emailInput.invalid && (emailInput.dirty || emailInput.touched || contactForm.submitted)"
                            placeholder="email">
                        <img src="assets/icons/mail.png">
                    </div>

                    @if (emailInput.invalid && (emailInput.dirty || emailInput.touched ||
                    contactForm.submitted)) {
                    <div class="error">
                        @if (emailInput.errors?.['required']){
                        <small>enter Email</small>
                        }
                        @if (emailInput.errors?.['email']) {
                        <small>enter valid email</small>
                        }
                    </div>
                    }

                    <div class="button_w_border">
                        <input class="input_no_error" name="phone" type="tel" [(ngModel)]="htmlinput.phone" id="phone"
                            required #phoneInput="ngModel" pattern="\+?[0-9\s\-()]{7,}"
                            [class.input_error]="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched || contactForm.submitted)"
                            placeholder="phone">
                        <img src="assets/icons/call.png">

                    </div>

                    @if (phoneInput.invalid && (phoneInput.dirty || phoneInput.touched || contactForm.submitted)) {
                    <div class="error">
                        @if (phoneInput.errors?.['required']) {
                        <small>enter Phone</small>
                        }
                        @if (phoneInput.errors?.['pattern']) {
                        <small>enter valid number</small>}
                    </div>
                    }
                    
                </div>

                <div class="button_wrapper">
                    <a (click)="onClose()" class="button_w_border cancel_button">
                        <p>{{ editMode ? 'Delete' : 'Cancel' }}</p><img src="assets/icons/button_x_check/button_x.png">
                    </a>
                    <div class="button_w_background">
                        <input type="submit" value="{{ editMode ? 'Save' : 'Create Contact' }}">
                        <img src=" assets/icons/button_x_check/button_check.png">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>