@use 'mixins' as *;
@use 'variables' as *;

:host {
    @include PositionBox($d: flex, $jc: flex-start, $ai: stretch, $fd: row);
    background-color: $color_background_main;
}

.content {
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 1080px) {
    :host {
        flex-direction: column-reverse;
    }

    .content {
        min-height: calc(100vh - 100px);
    }
}