<section class="searchbar_header">
    <div class="wrapper_header">

        <div class="title_header">
            <h1>Board</h1>
        </div>
        <div class="searchbar">
            <div class="input-wrapper">
                <a href="#" (click)="onSearch($event)">
                    <img src="./assets/icons/search.png" class="search-icon" />
                </a>
                <div class="divider"></div>
                <input type="text" aria-label="Search Tasks" placeholder="Find Task" [(ngModel)]="searchTerm"
                    class="search-input" />
            </div>
            <button class="add-button">
                Add Task
                <img src="./assets/icons/add (1).png" alt="Add Icon" />
            </button>
            <button class="add-button-respnsive">
                <img src="./assets/icons/add (1).png" alt="Add Icon" />
            </button>
        </div>
    </div>
    <div class="wrapper_add">

        <div class="to-do">
            <p>To do</p>
            <button>
                <img src="./assets/icons/Group 11.png" alt="add_to_do">
            </button>
        </div>
        <div class="in_progress">
            <p>In progress</p>
            <button>
                <img src="./assets/icons/Group 11.png" alt="add_in_progress">
            </button>
        </div>
        <div class="await_feedback">
            <p>Await feedback</p>
            <button>
                <img src="./assets/icons/Group 11.png" alt="add_await_feedback">
            </button>
        </div>
        <div class="done">
            <p>Done</p>
        </div>

    </div>

    <div class="task-list">
        @if (filteredTaskList.length > 0) {
        @for (task of filteredTaskList; track task.title) {
        <div class="task-card">
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <p><strong>Fälligkeitsdatum:</strong> {{ task.due_date }}</p>
            <p><strong>Priorität:</strong> {{ task.priority }}</p>
            <p><strong>Kategorie:</strong> {{ task.category }}</p>
            <p><strong>Status:</strong> {{ task.stage }}</p>

            <div>
                <strong>Zugewiesen an:</strong>
                <ul>
                    @for (user of task.assigned_to; track user.id) {
                    <li>{{ user.name }} ({{ user.email }})</li>
                    }
                </ul>
            </div>

            <div>
                <strong>Teilaufgaben:</strong>
                <ul>
                    @for (sub of task.subtask; track sub) {
                    <li>{{ sub }}</li>
                    }
                </ul>
            </div>
        </div>
        }
        } @else {
        <p>Keine Aufgaben gefunden.</p>
        }

    </div>

</section>