<app-searchbar-header></app-searchbar-header>
<app-overview-tasks></app-overview-tasks>



@for (task of taskService.tasksList; track task.id) {
<div class="task-card">
    <button (click)="openTaskPopup(task.id ?? '')">View Details</button>
</div>
}


@if (selectedTaskId) {
<app-single-task-popup (edit)="onEditTask($event)" [taskId]="selectedTaskId" (delete)="deleteTask($event)"
    (close)="closePopup()">
</app-single-task-popup>
}

@if (editMode) {
<div class="overlay">
    <app-tasks [taskId]="editingTaskId" [editMode]="true" (close)="closeEdit()">
    </app-tasks>
</div>
}